<html ng-app="firstApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>



</head>
<body>
  <form name="statusForm" ng-controller="UserController as userCtrl" ng-submit="userCtrl.setStatus()">


  <input type="text" ng-model="userCtrl.user" placeholder="Name">
  <input type="text" ng-model="userCtrl.message" placeholder="Sveiki">
  <button type="submit">Set {{userCtrl.user}} status</button>
  </form>
  <hr>



  Hi {{userCtrl.user}}





  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js">
  </script>
</body>
</html>
