
<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{historyCtrl.username}}</h2>
            <span flex></span>
            <md-button ng-click="historyCtrl.refresh()">Refresh</md-button>
            <md-button ng-click="historyCtrl.close()">Close</md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding>
      <md-list>
        <md-list-item ng-repeat="status in historyCtrl.statuses" class="md-block">
          <div class="md-list-item-text">
                  <p>{{historyCtrl.statuses}}</p>
                    <p>
                    {{status.message}}
                  </p>
                    <span flex></span>
                    <p>
                      {{status.date | date:'HH:mm:ss'}}
                    </p>

          </div>

        </md-list-item>
        </md-list>
    </md-content>
</md-dialog>
